body {
  font-family:'SF Mono', 'Fira Mono', 'Fira Code', 'Roboto Mono', monospace;
  margin:0;
  padding:0;
}
span{
  background-color: rgb(0, 0, 0);
  color:rgb(8, 197, 93);
  border: 10px;
  padding: 5px;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}