.card{
  display:flex;
  justify-content: space-between;
}
.card1{
  margin-top:40px;
  width: 500px;
  padding-left:50px;
  padding-top:50px;
}
.card2{
  background-color: rgb(230, 230, 11);
  margin-top:40px;
  margin-right:40px;
  text-align: center;
  width: 500px;
  padding-top: 20px;
  padding-right: 50px;
  box-shadow:0 4px 16px rgba(24, 204, 8, 0.914)
}
.aboutMe{
  text-align: center;
  font-size: 1.4em;
}
.nextComponent {
  position: relative;
  z-index: 1;
  background: #ffffff; /* Or your preferred color */
  padding: 2rem;
}
