.header{
  text-align: center;
}
.certificates{
  display: flex;
  width: 400px;
  margin:8px;
  background-color: brown;
}
.certicard{
  display:flex;
}
.drop-down-content{
  background-color: blueviolet;
}