.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(7, 11, 37);
  color:rgb(34, 62, 189);
  padding-left: 40px;
  font-size: 1.5em;
  user-select: none;
}
.bar{
  display:flex;
  gap: 24px;
}
.bar a{
  color:rgb(26, 49, 163);
  padding: 24px;
}
.bar a:hover {
  color: #fff;
  cursor:pointer;        
}
.bar a:active{
  background-color: rgb(8, 197, 93);
}
